MONGODB_URI=
MONGODB_DATABASE=agroweather

API_HOST=0.0.0.0
API_PORT=8000

MQTT_BROKER_HOST=
MQTT_BROKER_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=agroweather/station/01/weather

CORS_ORIGINS=http://localhost:5173